 /* ctrl + shift + R  muy importante*/
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #7D7C7C;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}   
.caja_inicio_sesion{
    display: flex;
    flex-direction: column;
    width: 30%;
    background: white;
    border-radius: 15px;
}
.caja_inicio_sesion h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.caja_inicio_sesion h3{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
}
.caja_inicio_sesion form{
    padding: 0 40px;
    box-sizing: border-box;
}

#botonchido{
    width: 50%;
    height: 50px;
    color: white;
    background: #7D7C7C;
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#Usuario{
    width: 100%;
    padding: 5px 5px 5px 15px;
     margin-bottom: 7px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    background: #BFBFBF;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#Pass{
    margin-bottom: 7px;
    width: 100%;
    padding: 5px 5px 5px 15px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    background: #BFBFBF;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Nombre{
    width: 100%;
    margin-bottom: 7px;
    padding: 5px 5px 5px 15px;
    height: 30px;
    font-size: 20px;
    border-radius: 15px;
    background: #BFBFBF;
    border: none;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.botones{
    width: 100%;
    border: 1px solid yellow;
    margin-top: 13px;
    /* display: flex;
    flex-direction:row;
    align-items: center; */
    object-position: center;
    justify-content: center;
    align-items: center;
    object-position: center;
    justify-content: center;
}
.error-message{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
.box{
    background: white;
    margin: 0px;
    width: 35%;
    height: auto;
    padding: 10px 20px 20px 20px;
    border: 1px solid white ;
    border-radius: 15px;
}
.box h1{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.box p{
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.espacio-register{
    padding: 40px;
    margin: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-position: center;
    justify-content: space-around;
    
}
#opciones{
     width: 100%;
    margin-bottom: 7px;
    padding: 5px 5px 5px 0;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    background: #BFBFBF;
    color: #7D7C7C;
    border: none;
    outline: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.caja_inicio_sesion{
    margin: 0px;
    margin: 20px;
    text-align: center;
}
.caja_inicio_sesion h3{
    text-align: center;
}

.botones_confi a{
    text-decoration: none;
    color: white;
    width: 50%;
    height: 50px;
    background: white;
    color: #7D7C7C;
    padding: .5rem;
    border-radius: 25px;
    border: 0 solid;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botones_confi{
    margin: 2rem 0 0 4rem ;
}
#botongoogle{
    width: 100%;
    height: 50px;
    color: white;
    background: #7D7C7C;
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logoG{
    width: 30px;
    height: auto;
    margin: 10px;
    padding: 0;
}
.linkgoogle{
    padding: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
